In [1]:
import pandas as pd
import glob
%matplotlib inline
from pyvista import set_plot_theme
set_plot_theme('document')
import gempy as gp

# Aux imports
import numpy as np
import pandas as pd
import os
import pickle
import matplotlib.pyplot as plt
import gstools as gs
import pyvista as pv
import pyvistaqt as pvqt
import PVGeo

cannot import name 'gdal' from 'osgeo' (C:\Users\pasha\.conda\envs\gempy\lib\site-packages\osgeo\__init__.py)

WARNING (theano.configdefaults): g++ not available, if using conda: `conda install m2w64-toolchain`
C:\Users\pasha\.conda\envs\gempy\lib\site-packages\theano\configdefaults.py:560: UserWarning: DeprecationWarning: there is no c++ compiler.This is deprecated and with Theano 0.11 a c++ compiler will be mandatory
  warnings.warn("DeprecationWarning: there is no c++ compiler."
WARNING (theano.configdefaults): g++ not detected ! Theano will be unable to execute optimized C-implementations (for both CPU and GPU) and will default to Python implementations. Performance will be severely degraded. To remove this warning, set Theano flags cxx to an empty string.
WARNING (theano.tensor.blas): Using NumPy C-API based implementation for BLAS functions.

In [ ]:
# merging two csv files
df = pd.concat(
    map(pd.read_csv, ['mydata.csv', 'mydata1.csv']), ignore_index=True)
print(df)

In [12]:
# get data file names
path =r'C:\Users\pasha\Documents\thesis\Porphury Mo deposits\joined_data'

filenames = glob.glob(path + "point_data_all_xsection1.csv" + "point_data_all_xsection2.csv")

dfs = []
for filename in filenames:
    dfs.append(pd.read_csv(filename))

# Concatenate all data into one DataFrame
big_frame = pd.concat(dfs, ignore_index=True)

ValueError: No objects to concatenate

In [15]:
big_frame

            X     Y         Z              formation
0      0.0000     0  -45.0000                   topo
1     21.0000     0  -35.0000                   topo
2     73.0000     0  -13.0000                   topo
3    123.0000     0    0.0000                   topo
4    158.0000     0  -11.0000                   topo
..        ...   ...       ...                    ...
287  563.3100  1000 -649.1520  questagraniteporphyry
288  618.3892  1000 -662.3379  questagraniteporphyry
289  639.6698  1000 -663.3522  questagraniteporphyry
290  668.4612  1000 -667.4094  questagraniteporphyry
291  708.5188  1000 -667.4094  questagraniteporphyry

[292 rows x 4 columns]