In [1]:
import numpy as np
import matplotlib.pyplot as plt
from skimage import color
import pandas as pd

### Load excel data

In [3]:
df =pd.read_csv('data\orientationdata\point_data_all.csv')
#df = df.iloc[:, 0].str.split(',', expand=True)
df.columns = ['X', 'Y','Z','formation','section']
df

        X     Y     Z     formation   section
0      64     0  -867          topo  sectiona
1     162     0  -868          topo  sectiona
2     295     0  -863          topo  sectiona
3     461     0  -839          topo  sectiona
4     645     0  -781          topo  sectiona
..    ...   ...   ...           ...       ...
414  1866  3000  -903  lowererosion  sectionc
415  1928  3000  -938  lowererosion  sectionc
416  1972  3000  -938  lowererosion  sectionc
417  2013  3000  -956  lowererosion  sectionc
418  2064  3000 -1003  lowererosion  sectionc

[419 rows x 5 columns]

### Additional Dimentions

In [4]:
#add dip
df.loc[:, 'dip'] = '0'

#add azimuth
df.loc[:, 'azimuth'] = '90'

#add polarity
df.loc[:, 'polarity'] = '1'

df = df[['X', 'Y', 'Z','dip','azimuth','polarity','formation','section']]


df

        X     Y     Z dip azimuth polarity     formation   section
0      64     0  -867   0      90        1          topo  sectiona
1     162     0  -868   0      90        1          topo  sectiona
2     295     0  -863   0      90        1          topo  sectiona
3     461     0  -839   0      90        1          topo  sectiona
4     645     0  -781   0      90        1          topo  sectiona
..    ...   ...   ...  ..     ...      ...           ...       ...
414  1866  3000  -903   0      90        1  lowererosion  sectionc
415  1928  3000  -938   0      90        1  lowererosion  sectionc
416  1972  3000  -938   0      90        1  lowererosion  sectionc
417  2013  3000  -956   0      90        1  lowererosion  sectionc
418  2064  3000 -1003   0      90        1  lowererosion  sectionc

[419 rows x 8 columns]

In [5]:
#save the data at the end
df.to_csv(r'data\orientationdata\orientation_data_all.csv', index = False)